[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==18.9b0"
pyinstaller = "*"

[packages]
openvr = "*"
bottle = "*"

[requires]
python_version = "3.7"
